.trainers {
  padding: 4rem 1rem;
  background-color: #fff;
}

.trainers-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.trainers h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
}

/* Updated Image Container */
.trainer-image-container {
  max-width: 250px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 15px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Ensure the image fills the container with no extra white space */
.trainer-image-small {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block; /* Ensures the image is treated as a block element */
  margin: 0; /* Removes any potential margin */
}

/* Trainer Name Styling */
.trainer-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-top: 1rem;
}

/* Description Styling */
.trainer-description {
  font-size: 1rem;
  color: #666;
  margin-top: 0.5rem;
}
@media (max-width: 480px) {

  .trainer-card {
    max-width: 300px; /* Slightly reduce the card size on smaller screens */
  }

  .trainer-card h3 {
    font-size: 1.2rem;
  }

  .trainer-card p {
    font-size: 1rem;
  }
}