.trainers {
  padding: 4rem 1rem;
  background-color: #fff;
}

.trainers-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.trainers h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #333;
}

.trainer-card {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.trainer-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Trainer Image Styling */
.trainer-image {
  width: 100%;
  height: 400px; /* Increased height for a bigger image */
  background-color: #ddd;
  object-fit: cover;
}

.trainer-card h3 {
  font-size: 1.4rem;
  margin: 1rem 0 0.5rem;
  color: #333;
}

.trainer-card p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #666;
}

@media (max-width: 480px) {
  .trainers h2 {
    font-size: 1.8rem;
  }

  .trainer-card h3 {
    font-size: 1.1rem;
  }

  .trainer-card p {
    font-size: 0.9rem;
  }
}
